.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 80%;
}

#popular .swiper .swiper-slide , #featured .swiper .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating i {
     color: yellow;
}
